.AtlasBasicButton.AtlasBasicButton--default {
  --#{$namespace}-button-background-color: #{color(blue-400)};
  --#{$namespace}-button-background-color-hover: #{color(blue-400)};
  --#{$namespace}-button-background-color-focus: #{color(blue-400)};
  --#{$namespace}-button-background-color-focus-shadow: #{color(blue-200)};
  --#{$namespace}-button-background-color-active: #{color(blue-700)};
  --#{$namespace}-button-color: #{color(white-400)};
}

.AtlasBasicButton.AtlasBasicButton--ghost {
  --#{$namespace}-button-background-color: transparent;
  --#{$namespace}-button-background-color-hover: #{color(light-gray-300)};
  --#{$namespace}-button-background-color-focus: #{color(light-gray-300)};
  --#{$namespace}-button-background-color-focus-shadow: #{color(blue-200)};
  --#{$namespace}-button-background-color-active: #{color(light-gray-300)};
  --#{$namespace}-button-color: #{color(black-400)};
}

.AtlasBasicButton.AtlasBasicButton--secondary {
  --#{$namespace}-button-background-color: #{color(blue-100)};
  --#{$namespace}-button-background-color-hover: #{color(blue-200)};
  --#{$namespace}-button-background-color-focus: #{color(blue-200)};
  --#{$namespace}-button-background-color-focus-shadow: #{color(blue-200)};
  --#{$namespace}-button-background-color-active: #{color(blue-200)};
  --#{$namespace}-button-color: #{color(blue-400)};
}

.AtlasBasicButton.AtlasBasicButton--destructive {
  --#{$namespace}-button-background-color: #{color(red-400)};
  --#{$namespace}-button-background-color-hover: #{color(red-500)};
  --#{$namespace}-button-background-color-focus: #{color(red-500)};
  --#{$namespace}-button-background-color-focus-shadow: #{color(red-100)};
  --#{$namespace}-button-background-color-active: #{color(red-500)};
  --#{$namespace}-button-color: #{color(white-400)};
}

.AtlasBasicButton {
  padding: 8px 16px;
  background-color: var(--#{$namespace}-button-background-color);
  border-radius: 4px;
  border: none;
  color: var(--#{$namespace}-button-color);
  font-size: 14px;
  line-height: 1;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  height: 36px;
  cursor: pointer;

  & + & {
    margin-left: 8px;
  }

  &:focus {
    outline: none;
    box-shadow: 0px 0px 0px 2px var(--#{$namespace}-button-background-color-focus-shadow);
    background-color: var(--#{$namespace}-button-background-color-focus);
  }

  &:active {
    background-color: var(--#{$namespace}-button-background-color-active);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:hover {
    background-color: var(--#{$namespace}-button-background-color-hover);
  }

  &__trailingIcon {
    height: 20px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-right: -8px;
    margin-left: 4px;
  }

  &__leadingIcon {
    height: 20px;
    width: 20px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    margin-left: -8px;
    margin-right: 4px;
  }
}
