@import "../../common/styles/atlas";

.IconButton {
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  height: spacer(medium);
  width: spacer(medium);
  font-size: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: color(gray-400);
  transition: color 300ms ease;
  cursor: pointer;
  border-radius: 4px;

  &:hover {
    color: color(blue-400);
  }

  &:active, &:focus {
    outline: none;
    background-color: color(blue-100);
    color: color(blue-400);
  }

  &:disabled {
    color: color(gray-200);
  }
}

.is-active {
  color: color(blue-400);
}
