@import "../../common/styles/atlas";

.IconButton {
  @include body16;
  background: none;
  border: none;
  margin: 0;
  padding: 0;
  height: spacer(medium);
  width: spacer(medium);
  display: flex;
  align-items: center;
  justify-content: center;
  color: color('gray-400');
  transition: color 300ms ease;
  cursor: pointer;
  border-radius: spacer('micro');

  &:hover {
    color: color('blue-400');
  }

  &:active, &:focus {
    outline: none;
    background-color: color('blue-100');
    color: color('blue-400');
  }

  &:disabled {
    color: color('gray-200');
  }

  &.is-active {
    color: color('blue-400');
  }
}
