/* Global styles */
body, html {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

:root {
  --docs-color-light-gray2: #E8ECEE;
  --docs-color-light-gray3: #dde1e4;
  --docs-color-black: #282929;
  --docs-color-white: #ffffff;
  --docs-color-blue: #0A6CB9;
}

body {
  font-family: 'Inter', Arial, Helvetica, sans-serif;
  color: var(--a-color-black-400);
}

#root {
  overflow: auto;
  height: 100%;
}

/* Documentation site component styles */

.props tr td:last-of-type {
  text-align: center;
}

.props th, td {
  text-align: left;
  padding: 5px;
}

.example-navigation {
  width: 250px;
}

.example-playground-options {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  gap: var(--a-spacers-mini);

  label {
    font-size: var(--a-size-font-body-14);
    color: var(	--a-color-gray-400);
  }

  input[type="checkbox"], input[type="radio"] {
    margin-right: var(--a-spacers-mini);
  }

  input[type="text"] {
    padding: var(--a-spacers-mini);
    color: var(	--a-color-gray-400);
    border-radius: 4px;
    border: 1px solid var(	--a-color-light-gray-400);
  }
}

.Documentation {
  display: flex;
  width: 100%;
  min-height: calc(100vh - 48px);
}

pre.language-jsx::before,
pre.language-jsx::after {
  box-shadow: unset !important;
}

pre[class*="language-"] {
  position: initial !important;
}

pre[class*="language-"] > code {
  border-left-color: var(--docs-color-blue) !important;
  box-shadow: -1px 0px 0px 0px var(--docs-color-blue), 0px 0px 0px 1px var(--docs-color-light-gray2) !important;
  border-radius: 4px;
  position: initial !important;
}
