@import "../../common/styles/atlas";

.ModalDialog {
  background: color('white-400');
  box-shadow: 0px 2px 12px rgba(40, 41, 41, 0.2);
  border-radius: spacer(micro);
  border: none;
  color: color('black-400');
  padding: 0;
  min-width: 540px; //TODO: is this good? maybe we want slimmer? sm, med, large?

  &::backdrop {
    background: rgba(40,41,41,.7);
  }

  &__header {
    padding: spacer(small);
    display: grid;
    grid-template-columns: auto spacer(medium);
    border-bottom: 1px solid color('light-gray-400');
  }

  &__title {
    @include heading20;
    margin: 0;
  }

  &__subtitle {
    @include heading16;
    margin: 0;
    color: color('gray-400');
  }

  &__body {
    padding: spacer(small);
  }

  &__footer {
    padding: spacer(small);
    text-align: right;
    border-top: 1px solid color('light-gray-400');
  }
}
