.Page {
  flex-grow: 1;
  flex-shrink: 1;
  background-color: var(--docs-color-light-gray2);
  display: flex;
}

.PageContent {
  flex: 1;
  padding: 16px 24px;
  background-color: var(--docs-color-white);
  border-radius: 8px 0 0 0;
}

.PageHeading {
  font-size: 28px;
  line-height: 42px;
  padding-bottom: 4px;
  margin: 0;
  border-bottom: 1px solid #D1D5D9;
}

.PageSubcopy {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 0;
  margin: 0;
}
